/* titulos */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700&display=swap");
/* paragrafos */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
/* letra de mão */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;1,500;1,600;1,700&display=swap");
/* fonte frase */
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300;1,400&display=swap");

::-webkit-scrollbar {
  width: 10px;
  /* height: 10px; */
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: #999696;
  -webkit-border-radius: 4px;
}
X ::-webkit-scrollbar-thumb:vertical {
  background-color: #ff008e;
  -webkit-border-radius: 6px;
}
:root {
  --font-titulo: "Roboto", sans-serif;
  --font-paragrafos: "Poppins", sans-serif;
  --font-lMao: "Cormorant", serif;
  --font-frase: "Shantell Sans", cursive;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(./assets/bg-main.jpg) no-repeat;
  height: 100vh;
}
header {
  background-color: rgba(200, 200, 200);
  height: 70px;
  
}
#content-cbc {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.cakesAnimation {
  position: absolute;
}
.cakesAnimation img {
  width: 40px;
  position: relative;
}
.cakesAnimation img:hover {
  animation: cake 1s linear infinite;
}
@keyframes cake {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.cup1 {
  right: 200px;
  top: 10px;
}
.cup2 {
  top: 10px;
  left: 160px;
}
.nav-links1 ul,
.nav-links2 ul {
  display: flex;
  gap: 20px;
}
.nav-links1 li,
.nav-links2 li {
  margin: 15px 0;
  list-style: none;
  position: absolute;
}
.nav-links1 li:nth-child(1) {
  left: 100px;
}
.nav-links2 li:nth-child(1) {
  right: 250px;
}
.nav-links1 a,
.nav-links2 a {
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: var(--font-paragrafos);
  color: #000;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
/* efeito de linha botton */
.nav-links1 a::after,
.nav-links2 a::after {
  display: block;
  content: "";
  border-bottom: 2px solid #ff008e;
  transform: scaleX(0);
  transition: transform 450ms ease-in-out;
}
.nav-links1 a:hover::after,
.nav-links2 a:hover::after {
  transform: scaleX(1);
}
.nav-links1 a:hover,
.nav-links2 a:hover {
  font-size: 1.7vw;
  color: #ff008e;
}

.logoName h3 {
  margin: 10px 0;
  font-size: 2vw;
  font-family: var(--font-titulo);
}
.logoName span {
  color: #ff008e;
}

/* MAIN ---------------------------------- */


#text-main {
  margin: auto;
}
#text-main h1 {
  margin: 100px 0 0 0;
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-lMao);
  text-align: center;
  text-shadow: 0 0 5px #000;
  font-style: italic;
}
#text-main span {
  color: #ff008e;
}
#text-main p {
  font-size: 2.5vw;
  font-family: var(--font-frase);
  margin: 20px 0;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 2px;
}
/* button contatos main */

.main-button {
  text-align: center;
  margin: 100px 0 0 0;
}
.button-main {
  background: transparent;
}
.button-main a {
  color: #ff008e;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ff008e;
  transition: color 0.4s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  background-color: #f6f6f6;
}
.button-main a::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #ff008e;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.button-main a:hover {
  color: #fff;
}
.button-main a::before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.button-main:hover a:before {
  top: -30px;
  left: -30px;
}
.button-main:active a::before {
  background: #3a0ca3;
  transition: background 0s;
}

/* img */
.img-main img {
  width: 450px;
}
#container-bolo,
#container-pascoa {
  width: 100%;
  margin: 200px 0;
}
/* TEXTO  */
.txt-type {
  color: #ff008e;
  font-size: 5vw;
  text-align: center;
  text-shadow: 0.1em -0.4em #f0a3cd;
}
/* CONTAINER - ESTILIZAÇÃO */
.box-bolo,
.box-pascoa {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
}
.box {
  /* width: 400px; */
  font-size: 2vw;
  text-align: center;
  height: 550px;
  background-color: rgb(248, 244, 244);
  box-shadow: 0 0 10px #807e7e;
}
.box:hover {
  box-shadow: 0 0 20px #000;
}
/* IMAGEM DO BOLO */
.ilustracao img {
  width: 250px;
}
/* BOX DO TEXTOS ---------------------- */
.text-bolo {
  padding: 10px;
}
/* TITULOS - NOME DO BOLO ---------------- */
.sabor {
  font-size: 1.5vw;
  font-family: var(--font-lMao);
}
/* DESCRIÇÃO DO BOLO ---------------------- */
.descricao {
  font-size: 1vw;
  font-family: var(--font-paragrafos);
  margin: 5px 0;
}
/* BOTÃO - LINK DO WPP ---------------------- */
.wpp a {
  text-decoration: none;
}
/* ESTILIZAÇÃO E ANIMAÇÃO DO BOTAO WPP ------- */
.wpp a {
  color: #ff008e;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ff008e;
  transition: color 0.4s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
}
.wpp a::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #ff008e;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.wpp a:hover {
  color: #fff;
}
.wpp a::before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.wpp:hover a:before {
  top: -30px;
  left: -30px;
}
.wpp:active a::before {
  background: #3a0ca3;
  transition: background 0s;
}
/* FIM DA ESTILIZAÇÃO DO BOTÃO */

@media (max-width: 360px) {
  body{
    background: url(./assets/bg-mobile.jpg) no-repeat;
  }
  header{
    height: 50px;
  }
  #content-cbc{
    display: none;
  }
  /* menu mobile */
  /* botao menu - hamburgue */
  .menu button{
    background: transparent;
  }
  /* icone hamburgue */
  .menu-button{
    font-size: 9vw;
  }
  /* div de links do menu */
  #reveal-menu{
    width: 0;
    height: 100%;
    /* background-color: rgb(0,0,0); */
    background-color: rgb(248, 218, 253, 0.9);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  /* close div de links */
  #closeLinks {
    font-size: 9vw;
  }
}