/* titulos */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700&display=swap");
/* paragrafos */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
/* letra de mão */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;1,500;1,600;1,700&display=swap");
/* fonte frase */
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300;1,400&display=swap");

html {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}
::-webkit-scrollbar-track-piece {
  background-color: #999696;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff008e;
  -webkit-border-radius: 6px;
}
:root {
  --font-titulo: "Roboto", sans-serif;
  --font-paragrafos: "Poppins", sans-serif;
  --font-lMao: "Cormorant", serif;
  --font-frase: "Shantell Sans", cursive;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(./assets/bg-main.jpg) no-repeat;
  height: 100vh;
  font-family: "Roboto";
}
header {
  /* background-color: rgba(200, 200, 200); */
  height: 70px;
  margin: 20px 0;
}
#content-cbc {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
/* LOGO TYPO */
.logo {
  margin: 5px;
}
.logo h3 {
  color: #f6f6f6;
  font-size: 1.7vw;
  font-family: "Cormorant";
}
.logo span {
  color: #ff008e;
}
.logo p {
  margin-left: 25px;
  font-family: "Poppins";
  color: #f6f6f6;
  font-weight: 500;
}
/* LINKS DE ATALHO HEADER */
.nav-links1 {
  display: inline-block;
  text-transform: uppercase;
}
.nav-links1 ul {
  align-items: center;
  display: flex;
  gap: 20px;
}
.nav-links1 li {
  margin-top: 15px;
  list-style: none;
}
.nav-links1 a {
  text-decoration: none;
  color: #000;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Poppins";
}
/* efeito de linha botton */
.nav-links1 a::after {
  display: block;
  content: "";
  border-bottom: 2px solid #ff008e;
  transform: scaleX(0);
  transition: transform 450ms ease-in-out;
}
.nav-links1 a:hover::after,
.nav-links2 a:hover::after {
  transform: scaleX(1);
}
.nav-links1 li:hover {
  transform: scale(1.1);
  color: #ff008e;
}
/* BUTTON HEADER CONTATE-ME */
.button-contate button {
  border-radius: 5px;
  padding: 15px;
  margin: 10px 30px;
  background-color: #ff008e;
}
.button-contate a {
  text-decoration: none;
  color: #f6f6f6;
}
.button-contate button:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

/* MAIN ---------------------------------- */

#text-main {
  margin: auto;
}
#text-main h1 {
  margin: 100px 0 0 0;
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Cormorant";
  text-align: center;
  text-shadow: 0 0 5px #000;
  font-style: italic;
}
#text-main span {
  color: #ff008e;
}
#text-main p {
  font-size: 2.5vw;
  font-family: "Poppins";
  margin: 20px 0;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 2px;
}
/* button contatos main */

.main-button {
  text-align: center;
  margin: 100px 0 0 0;
}
.button-main {
  background: transparent;
}
.button-main a {
  color: #ff008e;
  font-family: "poppins";
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ff008e;
  transition: color 0.4s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  background-color: #f6f6f6;
}
.button-main a::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #ff008e;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.button-main a:hover,
.wpp a:hover {
  color: #fff;
  transform: scale(1.1);
}
.button-main a::before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.button-main:hover a:before {
  top: -30px;
  left: -30px;
}
.button-main:active a::before {
  background: #3a0ca3;
  transition: background 0s;
}

/* img */
.img-main img {
  width: 450px;
}
#container-bolo,
#container-pascoa {
  width: 100%;
  margin: 200px 0;
}
/* TEXTO  */
.txt-type {
  color: #ff008e;
  font-size: 5vw;
  text-align: center;
  text-shadow: 0.1em -0.4em #f0a3cd;
}
/* CONTAINER - ESTILIZAÇÃO */
.box-bolo,
.box-pascoa {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
}
.box {
  /* width: 400px; */
  margin-bottom: 10px;
  font-size: 2vw;
  text-align: center;
  height: 550px;
  background-color: rgb(248, 244, 244);
  box-shadow: 0 0 10px #807e7e;
}
.box:hover {
  box-shadow: 0 0 20px #000;
  transform: scale(1.01);
}
/* IMAGEM DO BOLO */
.ilustracao img {
  width: 250px;
}
/* BOX DO TEXTOS ---------------------- */
.text-bolo {
  padding: 10px;
}
/* TITULOS - NOME DO BOLO ---------------- */
.sabor {
  font-size: 1.5vw;
  font-family: "Cormorant";
}
/* DESCRIÇÃO DO BOLO ---------------------- */
.descricao {
  font-size: 1vw;
  font-family: "Poppins";
  margin: 5px 0;
}
/* BOTÃO - LINK DO WPP ---------------------- */
.wpp a {
  text-decoration: none;
}
/* ESTILIZAÇÃO E ANIMAÇÃO DO BOTAO WPP ------- */
.wpp a {
  color: #ff008e;
  font-family: "Poppins";
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ff008e;
  transition: color 0.4s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  background: transparent;
}
.wpp a::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #ff008e;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.wpp a:hover {
  color: #fff;
}
.wpp a::before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.wpp:hover a:before {
  top: -30px;
  left: -30px;
}
.wpp:active a::before {
  background: #3a0ca3;
  transition: background 0s;
}
/* FIM DA ESTILIZAÇÃO DO BOTÃO */
/* contacts */

footer {
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.container-footer {
  display: flex;
}

#contatos,
#linksConteudo {
  width: 50%;
  padding: 30px 10px;
}
.text-contatos h3,
.Conteudo h3 {
  text-align: center;
  font-size: 1.8vw;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
}

.links-contactos,
.links-conteudo {
  margin: 30px 0 0 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.linkRede,
.conteudo-footer {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.5vw;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.linkRede:hover,
.conteudo-footer:hover {
  color: rgba(255, 255, 255, 1);
}

.cakes-animation {
  position: relative;
  right: 600px;
  top: 10px;
  height: 50px;
}
.cakes-animation img {
  width: 50px;
  margin: 30px 0 0 0;
}

#menu-mobile {
  display: none;
}
@media (min-width: 428px) and (max-width: 768px) {
  body {
    background: url(./assets/bg-700.jpg) no-repeat;
  }
  header {
    background: none;
  }
  #menu-mobile {
    display: block;
  }
  #content-cbc {
    display: none;
  }
  .cakesAnimation {
    display: none;
  }
  /* menu mobile */
  /* botao menu - hamburgue */
  .menu button {
    background: transparent;
    /* display: flex; */
  }
  /* icone hamburgue */
  .menu-button {
    font-size: 10vw;
    color: #000000;
    margin: 15px;
    position: fixed;
  }
  /* div de links do menu */
  #reveal-menu {
    width: 0;
    height: 100%;
    background-color: rgb(248, 218, 253);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  /* close div de links */
  #closeLinks {
    font-size: 9vw;
  }
  /* estilizacao dos links mobile */
  .links-mobile {
    margin: 100px 0;
    display: grid;
    gap: 30px;
    text-align: center;
  }
  .links-mobile a {
    font-size: 8vw;
    color: #000;
    text-decoration: none;
    font-family: var(--font-titulo);
  }
  .links-mobile a:hover {
    transform: scale(1.1);
  }
  /* main */
  /* text main */
  #text-main h1 {
    font-size: 12vw;
  }
  #text-main p {
    font-size: 7vw;
  }
  /* button main */
  .main-button {
    margin: 70px 0;
  }
  /* text bolos e páscoa */
  .txt-type {
    font-size: 15vw;
  }
  .txt-type2 {
    text-shadow: 0.1em -0.3em #f0a3cd;
  }
  /* box  */
  .box-bolo,
  .box-pascoa {
    display: block;
    margin: 55px;
  }
  .box {
    margin: 100px 0;
    font-size: 10vw;
    height: 650px;
  }
  .ilustracao img {
    width: 100%;
  }
  .sabor {
    font-size: 7vw;
  }
  .descricao {
    font-size: 4vw;
  }
  .wpp{
    background: transparent;
  }
  .wpp a {
    margin: 15px 0;
    padding: 5px;
    font-size: 19px;
    background: transparent;
  }
  /* CONTATOS */
  footer {
    height: 50vh;
  }
  .container-footer {
    display: block;
  }
  #contatos,
  #linksConteudo {
    padding: 10px 0;
    margin: 5px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .text-contatos h3,
  .Conteudo h3 {
    font-size: 6vw;
  }
  .links-contactos,
  .links-conteudo {
    margin: 0;
    text-align: center;
    gap: 5px;
  }
  .linkRede,
  .conteudo-footer {
    font-size: 4vw;
    margin: 5px;
  }
  .cakes-animation {
    display: none;
  }
}
@media (min-width: 390px) and (max-width: 428px) {
  body {
    background: url(./assets/bg-700.jpg) no-repeat;
  }
  header {
    background: none;
  }
  #menu-mobile {
    display: block;
  }
  #content-cbc {
    display: none;
  }
  .cakesAnimation {
    display: none;
  }
  /* menu mobile */
  /* botao menu - hamburgue */
  .menu button {
    background: transparent;
    /* display: flex; */
  }
  /* icone hamburgue */
  .menu-button {
    font-size: 10vw;
    color: #000000;
    margin: 15px;
    position: fixed;
  }
  /* div de links do menu */
  #reveal-menu {
    width: 0;
    height: 100%;
    background-color: rgb(248, 218, 253);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  /* close div de links */
  #closeLinks {
    font-size: 9vw;
  }
  /* estilizacao dos links mobile */
  .links-mobile {
    margin: 100px 0;
    display: grid;
    gap: 30px;
    text-align: center;
  }
  .links-mobile a {
    font-size: 8vw;
    color: #000;
    text-decoration: none;
    font-family: var(--font-titulo);
  }
  .links-mobile a:hover {
    transform: scale(1.1);
  }
  /* main */
  /* text main */
  #text-main h1 {
    font-size: 12vw;
  }
  #text-main p {
    font-size: 7vw;
  }
  /* button main */
  .main-button {
    margin: 70px 0;
  }
  /* text bolos e páscoa */
  .txt-type {
    font-size: 15vw;
  }
  .txt-type2 {
    text-shadow: 0.1em -0.3em #f0a3cd;
  }
  /* box  */
  .box-bolo,
  .box-pascoa {
    display: block;
    margin: 55px;
  }
  .box {
    margin: 100px 0;
    font-size: 10vw;
    height: 600px;
  }
  .ilustracao img {
    width: 100%;
  }
  .sabor {
    font-size: 7vw;
  }
  .descricao {
    font-size: 4vw;
  }
  .wpp {
    background: transparent;
  }
  .wpp a {
    margin: 15px 0;
    padding: 5px;
    font-size: 19px;
    background: transparent;
  }
  /* CONTATOS */
  footer {
    height: 45vh;
  }
  .container-footer {
    display: block;
  }
  #contatos,
  #linksConteudo {
    padding: 10px 0;
    margin: 5px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .text-contatos h3,
  .Conteudo h3 {
    font-size: 6vw;
  }
  .links-contactos,
  .links-conteudo {
    margin: 0;
    text-align: center;
    gap: 5px;
  }
  .linkRede,
  .conteudo-footer {
    font-size: 4vw;
    margin: 5px;
  }
  .cakes-animation {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 390px) {
  body {
    background: url(./assets/bg-700.jpg) no-repeat;
  }
  header {
    background: none;
  }
  #menu-mobile {
    display: block;
  }
  #content-cbc {
    display: none;
  }
  .cakesAnimation {
    display: none;
  }
  /* menu mobile */
  /* botao menu - hamburgue */
  .menu button {
    background: transparent;
    /* display: flex; */
  }
  /* icone hamburgue */
  .menu-button {
    font-size: 10vw;
    color: #000000;
    margin: 15px;
    position: fixed;
  }
  /* div de links do menu */
  #reveal-menu {
    width: 0;
    height: 100%;
    background-color: rgb(248, 218, 253);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  /* close div de links */
  #closeLinks {
    font-size: 9vw;
  }
  /* estilizacao dos links mobile */
  .links-mobile {
    margin: 100px 0;
    display: grid;
    gap: 30px;
    text-align: center;
  }
  .links-mobile a {
    font-size: 8vw;
    color: #000;
    text-decoration: none;
    font-family: var(--font-titulo);
  }
  .links-mobile a:hover {
    transform: scale(1.1);
  }
  /* main */
  /* text main */
  #text-main h1 {
    font-size: 12vw;
  }
  #text-main p {
    font-size: 7vw;
  }
  /* button main */
  .main-button {
    margin: 70px 0;
  }
  /* text bolos e páscoa */
  .txt-type {
    font-size: 15vw;
  }
  .txt-type2 {
    text-shadow: 0.1em -0.3em #f0a3cd;
  }
  /* box  */
  .box-bolo,
  .box-pascoa {
    display: block;
    margin: 55px;
  }
  .box {
    margin: 100px 0;
    font-size: 10vw;
    height: 550px;
  }
  .ilustracao img {
    width: 100%;
  }
  .sabor {
    font-size: 7vw;
  }
  .descricao {
    font-size: 4vw;
  }
  .wpp {
    background: transparent;
  }
  .wpp a {
    margin: 15px 0;
    padding: 5px;
    font-size: 19px;
    background: transparent;
  }
  /* CONTATOS */
  footer {
    height: 45vh;
  }
  .container-footer {
    display: block;
  }
  #contatos,
  #linksConteudo {
    padding: 10px 0;
    margin: 5px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .text-contatos h3,
  .Conteudo h3 {
    font-size: 8vw;
  }
  .links-contactos,
  .links-conteudo {
    margin: 0;
    text-align: center;
    gap: 5px;
  }
  .linkRede,
  .conteudo-footer {
    font-size: 4vw;
    margin: 5px;
  }
  .cakes-animation {
    display: none;
  }
}
